.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  padding: 0;
  background-color: var(--white);
}
.product:hover {
  border: solid 2px var(--btn-color);
  cursor: pointer;
}

.product__img {
  padding-bottom: 3rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product__title {
  color: var(--btn-color);
}

h4 {
  padding-bottom: 1rem;
  color: var(--btn-color);
}
h3 {
  font-weight: 500;
  padding-bottom: 1rem;
}

.product__icon {
  display: flex;
  padding-bottom: 1rem;
}

.product__icon_cart {
  width: 24px;
  height: 24px;
  color: var(--black);
}
.product__icon_cart:hover {
  color: var(--black);

  opacity: 0.5;
}
