* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

:root {
  --bg-color: #86a3a6;
  --white: #f2f2f2;
  --btn-color: #73261f;
  --black: #00010d;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  font-size: 100%;

  margin: 0 auto;
}
